<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>
        <h1> <%= player.name %></h1>
        <img src="../images/ghost.jpeg" class="playerImg" alt="">
            <section class="detailsPlayer">
                <h3>My kd: <%= player.kd %></h3>
                <h3>My wins: <%= player.wins %></h3>
                <h3>My score: <%= player.score %></h3>
                <a href="/add/players">Find players</a>
            </section>
    <script src="../js/feature.js"></script>
    <%- include('partials/footer'); -%>
</body>