<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>

    <section class="playerOverview">
        <%  players.forEach(function(player){ %>
            <section class="playerCards">
                <h4><%= player.name %></h4>
                    <section class="detailsSection">
                        <p>kd: <%= player.kd %></p>
                        <p>wins: <%= player.wins %></p>
                        <p>score: <%= player.score %></p>
                    </section>
                <a href="/add/players/<%= player.name %>">Match</a>
            </section>
        <% }) %>
    </section>


    <script src="../js/feature.js"></script>
    <%- include('partials/footer'); -%>
</body>
