<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>
        <h1> <%= player.name %></h1>
        <img src="../images/ghost.jpeg" class="playerImg" alt="">
            <section class="detailsPlayer">
                <h3>kd: <%= player.kd %></h3>
                <h3>wins: <%= player.wins %></h3>
                <h3>score: <%= player.score %></h3>
            </section>
    <script src="../js/feature.js"></script>
</body>