<%- include('partials/head'); -%>

<body>
    <%- include('partials/header'); -%>

    <section class="playerOverview">
        <%  players.forEach(function(player){ %>
            
                <h4><%= player.name %></h4>
                    <section class="detailsSection">
                        <p>kd: <%= player.kd %></p>
                        <p>wins: <%= player.wins %></p>
                        <p>score: <%= player.score %></p>
                    </section>
                <a href="/add/players/<%= player.id %>">Klik hier</a>
          
        <% }) %>
    </section>


    <script src="../js/feature.js"></script>
</body>